.App {
  text-align: center;
}

.task-manager {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.list-section {
  width: 300px;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1px solid #282c34;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.list-item {
  width: 90%;
  height: 175px;
  margin: 5%;
  border: 1px solid #282c34;
  border-radius: 15px;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.list-item-desc {
  word-break: break-all;
}

.margin-top-two {
  margin-top: 2%;
}

.margin-two {
  margin: 2%;
}

.edit-del {
  display: flex;
  justify-content: flex-end;
}

.div-pointer {
  cursor: pointer;
}

.droppable {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 10;
  background-color: #9e9e9e;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px auto;
}

.inProgress {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10;
  background-color: #eeeeee;
  border-right: 2px dotted red;
}
